*{
 box-sizing:border-box;
    margin: 0;
    list-style: none;
    padding: 0;
}
#banner{
    position:fixed;
    z-index: 100;
    width: 100%;
   
}

.text-right{
    background: RED;

}
.texto_perfil{
    background: blue;
    max-width: 450px
}

  .sec-left {
      -webkit-animation-name: fadeInLeft;
      animation-name: fadeInLeft;
      animation-delay: 0.5s
    }
    .sec-right {
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
      animation-delay: 0.9s
    } 

@media(min-width:1200px){
    
.texto_perfil{
    background: green;
    top: 300px;
    left: 50px   
    }
   
}
@media(min-width:992px){
    .texto_perfil{
     top: 150px;
  
        
}
}
@media(min-width:768px){
    .texto_perfil{
    margin:auto;
    max-width: 350px; 
    top: 105px    
}  
}
@media(max-width:576px){
    .cuak{
        justify-content: center
    }
    .texto_perfil{
        background: black 
        }

}

@media(min-width:576px){
    .cuak{
        justify-content: center
    }
     .texto_perfil{
        background: orange 
        }
     

}